
fibaro/__pyca*
widefind/__pyca*
.DS_Store
*/.DS_Store
*/*/.DS_Store
Group8Application/Group8Application.xcworkspace/xcuserdata/roblof-8.xcuserdatad/UserInterfaceState.xcuserstate
Group8Application/Pods/Pods.xcodeproj/xcuserdata/roblof-8.xcuserdatad/xcschemes/xcschememanagement.plist
